body {
    font-family: Verdana;
    background-color: black;

}

#navlist {
    list-style-type:none;
    margin:0px 0px 0px 0px;
    padding:0;
    position:fixed;
    top: 16px;
    left:0px;
    right:0px;
    bottom:0px;
}

#navlist li {
    background:#660000 url(../img/li_gradient.png) repeat scroll 0 0;
    border:1px solid black;
    float:none;
    height:25px;
    margin:5px;
    text-align:center;
    width:155px;
}


#navlist li a {
    color: white;
    text-decoration: none;
}

#navlist li a:visited {
    color: white;
}

#content {
   border:none;
   color:white;
   margin-left:177px;
   margin-right:100px;
   padding:0 10px 10px 15px;
    
}

#content h1 {
    width: 550px;
    height: 110px;
    text-indent: -10000px;
    background: url(../img/seansallings.png);
}

p img {
    float: left;
    padding-right:5px
}